service firebase.storage {
  match /b/{bucket}/o {
    match /user-images/{allPaths=**} {
      allow read;
    }

    match /user-images/{userId}/{imageId} {
      allow write: if request.auth.uid == userId && (request.resource == null 
                          || (request.resource.size < 3 * 1024 * 1024 && request.resource.contentType.matches('image/.*'))
                         );
    }
  }
}
