.article-detail-container {
    max-width: 100em;
    margin: 1.5em;
}

.article-detail-image {
    max-width: 100%;
    padding: 0.5em;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.pet-name {
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.structured-info-block {
    padding-left: 1em;
    padding-top: 0.5em;
}