.article-detail-container {
    max-width: 100em;
    margin: 6em;
    padding-left: 1em;
}

.article-detail-image {
    max-width: 100%;
    padding: 0.5em;
    border: 1px solid lightgray;
}

.pet-name {
    padding: 1em;
}

.structured-info-block {
    padding-left: 1em;
    padding-top: 0.5em;
}