.new-article-background {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.new-article-form {
    align-self: center;
    background: white;
    box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 60em;
}

.new-article-heading {
    background-image: url("/images/new-article-background-resized.jpg");
    background-size: contain;
    background-position: top center;
    width: 100%;
    background-repeat: no-repeat;
    padding: 3em 2em;
}

@media only screen and (max-width: 600px) {
    .new-article-heading {
        background-size: cover;
    }
}